h1 {
    position: absolute;
    top: 50px;
    font-size: 50px;
    color: white;
}
body {
    background: #0f172a;
    color: #22c55e;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}

.clock {
    font-size: 80px;
    background: #020617;
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0 0 20px #22c55e;
}


